
<div class="display">

  <div class="topbar">
  <div class="home">
    <button type="button" [routerLink]="['',  ]" (click)="handleHomeClick()">Home</button>
  </div>
  </div>
  <div class="topblock" *ngFor="let manga of mangaDetail">
    <div class="sub-block">
    <img (load)="imageLoaded = true" [class.loaded]="imageLoaded" class="fade-img" [src]="manga.image" width="250" height="300">
    <div class="text-content">
      <strong id="title">{{ manga.title }}</strong>
    <div class="other-block">
      <div *ngFor="let manga of mangaDetail" class="other-info">
        <p class="status">{{ manga.stat }}</p>
        <p class="year">{{ manga.year }}</p>
        <p class="content-rating">{{ manga.content }}</p>
      </div>
    </div >
      <p> {{ manga.description }}</p>
    </div>

    </div>
    <div class="tags">

        <p *ngFor="let tag of tagArray | slice:0:13 " class="tag-block"> {{ tag }}</p>

    </div>
    <app-manga-graph></app-manga-graph>

  </div>

  <div class="bottom-block">
    <div class="similar-detail" *ngFor="let manga of SimilarManga">
      <p > {{ manga }} </p>
    </div>
  </div>

</div>
