
<div class="display">
  <div class="topbar">
  <div class="home">
    <button type="button" [routerLink]="['/manga/suche',]" (click)="handleHomeClick()">Home</button>
  </div>
  </div>


  <div class="topblock" *ngFor="let manga of mangaDetail">
    <div class="sub-block">
    <img (load)="imageLoaded = true" [class.loaded]="imageLoaded" class="fade-img" [src]="manga.image" width="250" height="300">
    <div class="text-content">
      <strong id="title">{{ manga.title }}</strong>
    <div class="other-block">
      <div *ngFor="let manga of mangaDetail" class="other-info">
        <p class="status">{{ manga.stat }}</p>
        <p *ngIf="manga.year !== null"class="year">{{ manga.year }}</p>
        <p class="content-rating">{{ manga.content }}</p>
      </div>
    </div >
      <p class="manga-desc"> {{ manga.description }}</p>
    </div>

    </div>
    <div class="tags">

        <p *ngFor="let tag of tagArray | slice:0:12 " class="tag-block"> {{ tag }}</p>

    </div>
    <div class="titles">
      <div *ngFor="let title of languagesManga" class="title-block">
        <div class="title-row">
          <img [src]="'assets/images/' + title.flag + '.png'" width="24" height="24" />
          <p class="title-text"> {{ title.desc}} </p>
        </div>
      </div>
    </div>


    <div class="link">
      <button >
        <a class="link-block" target="_blank"  [href]="raw_link">Offical Raw</a>
      </button>
      <button >
        <a class="link-block" target="_blank"  [href]="ebook_link">eBookJapan</a>
      </button>
    </div>

  </div>
  <div class="rec-text" *ngIf="similarManga.length >= 1">
    <p> If you like this manga, you might like...</p>
  </div>

  <div class="bottom-block" *ngIf="similarManga.length >= 1"  >

    <div *ngFor="let manga of similarManga" class="manga-block" >
    <img (load)="imageLoaded = true" [class.loaded]="imageLoaded" class="fade-img" [src]="manga.image" width="250" height="300">
      <strong > {{ manga.title }} </strong>
  </div>

</div>

  <div >
    <br>
  </div>
