

<div class="about-container">

<img>
<div class="text-content">
  <button [routerLink]="['/manga/suche',]">Back</button>

  <div class="image-link">

    <img src="assets/images/pfp.jpg" width="200" height="200">
    <p>Moritz344</p>

  </div>

  <h1>About</h1>
  <p>This mangawebapp is an app for searching and viewing information about mangas provided by the mangadex api.

  </p>
  <p>This project was created to learn and practice angular.</p>
  <p>If you have questions or you want to contact me, you can do it by sending me an email at:</p>
  <p class="email">moritzmaier353atgmail.com</p>
  <p class="goodbye">Thank you for visiting! </p>
</div>

</div>

