<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">


<div class="display">

  <div class="home">
   <button (click)="this.loadHomeScreen()" type="button"> Home </button>
  </div>

  <div class="topbar">

  <input type="text" placeholder="Search ... " [(ngModel)] = "inputValue"  >
  <button type="button" (click)="handleClick(inputValue)" >
    <i  class="fas fa-search" ></i>
  </button>
  </div>


  <div class="filter-options">

    <button (click)="resetFilterOptions()">Reset Filter</button>
    <select (change)= "handleFilterOption(GenreFilter)" [(ngModel)]="GenreFilter" id="genres" name="genres">
      <option value="" disabled selected hidden>Genres</option>
      <option value="any">Any</option>
      <option value="Romance">Romance</option>
      <option value="Action">Action</option>
      <option value="Harem">Harem</option>
      <option value="Fantasy">Fantasy</option>
      <option value="Drama">Drama</option>
      <option value="Horror">Horror</option>
      <option value="Mecha">Mecha</option>
      <option value="Comedy">Comedy</option>
    </select>

    <select (change)="handleYearOption(YearOption)" [(ngModel)]="YearOption" id="year" name="year">
      <option value="" disabled selected hidden>Year</option>
      <option value="any">Any</option>
      <option value="2025">2025</option>
      <option value="2024">2024</option>
      <option value="2023">2023</option>
      <option value="2022">2022</option>
    </select>

  </div>

</div>

<div class="show-filter">
  <div *ngFor="let option of FilterOptions" class="filter-block">
    <button (click)="deleteFilterOption(option)"class="rm-filter">x</button>
    <p>{{ option }} </p>
  </div>
</div>

<div class="manga-field">


<div *ngFor="let manga of mangaFace"  >

  <div class="manga-block" *ngIf="mangaFace && mangaFace.length"
  [routerLink]="['/manga',  manga.title ]"
  >

  <img [src]="manga.image" width="300" height="300">
  </div>
  <br><br><br>
  <strong>{{ manga.title }}</strong>


</div>

</div>

<div class="bottom-bar">
  <div class="switch-page" *ngIf="showMoreButton">

    <button  (click)="loadMore()">Load more</button>
    <button  (click)="loadLess()"> Load less</button>

  </div>

</div>
