select{
    border: none;
}

.NoResultsContainer{
  display: flex;
  justify-content: center;
}
.noResultsElements img{
  background: transparent;
}
.noResultsElements h1{
  margin-left: 20px;
}

.noResultsElements {
  margin-top: 200px;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: var(--bg-light);
  position: fixed;
  height: 100%;
  overflow: auto;
  left: -200px;
  transition: 0.3s ease;
  z-index: 1000;
}

.sidebar.open{
    left: 0;
}


.close-bar{
    position: absolute;
    margin-left: 160px;
    margin-top: 3px;
    background-color: transparent;
    font-size: 20px;
    border: none;
}

.sidebar.close{
    left: 300px;
}





/* Sidebar links */
.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

.filter-options-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    white-space: nowrap;
    gap: 10px;

    padding: 20px;
    margin-right: 200px;


}

.filter-bar{
    display: flex;
    background-color: #242424;
    border-radius: 10px;
    max-width: 1000px;
    margin-left: 500px;
    margin-top: 20px;
}

.filter-button {
    max-width: 100px;
}

/* Active/current link */
.sidebar a.active {
  background-color: var(--blue);
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.display{
    background-color: rgba(0,0,0,0.1);
    display:flex;
    flex-direction: row;
    padding: 30px;
    justify-content: center;
    gap: 10px;
}

.main{
    display: flex;
    position: absolute;
    font-size: 40px;
    margin-top: 30px;
    margin-left: 20px;
    cursor: pointer;

}

.manga-field{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 0px;
    margin: 12%;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 0;
}




.year-field{
    font-size: 15px;
    position: relative;
    background-color: #242424;
    border-radius: 5px;
    padding: 6px 10px;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 50px;
    max-width: 300px;
    border: solid 1px #458588;
    cursor: pointer;
    transition-property: opacity;
    transition: ease 0.3s;
    margin-top: 20px;
}

.year-field:hover{
    transform: scale(1.02);
}

.year-field button:hover{
    color: #a89984;
}

.year-field button{
    position: absolute;
    background: transparent;
    color: white;
    width: auto;
    height: auto;
    border: none;
    top: -5px;
    right: -8px;
    font-size: 15px;

}

.reset-filter{
    font-size: 15px;
}

.show-filter{

    display: inline-flex;
    gap: 30px;
    margin-left: 220px;
    width: auto;
    height: auto;
    white-space: nowrap;
    align-items: center;
    justify-conent: right;
}

.seiten{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    list-style-type: none;
    cursor: pointer;
    margin: 10px;

}


.active-button{
    background-color: #242424;
}

.page-number{
    border: none;
}

.filter-block button{
    position: absolute;
    background: transparent;
    color: white;
    width: auto;
    height: auto;
    border: none;
    top: -7px;
    right: -8px;
    font-size: 15px;
}
.filter-block button:hover{
    color: #a89984;
}

.filter-block{
    position: relative;
    background-color: #242424;
    border-radius: 5px;
    padding: 4px 10px;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    max-width: 300px;
    border: solid 1px #458588;
    cursor: pointer;
    transition-property: opacity;
    transition: ease 0.3s;
    margin-top: 20px;
}
.filter-block:hover{
    transform: scale(1.04);
}
.filter-block strong{
    display: flex;
    font-size: 15px;
    justify-content: center;
    margin-top: 0px;
    margin-right: 15px;
}

.filter-options {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3,1fr);
}

.filter-options button{
    font-size: 15px;
}


.home{
    display: flex;
    flex-direction: row;
    gap: 10px;

}
.open-bar{
  top: 20px;
  left: 10px;
}
.home button{
    font-size: 20px;
}

input:focus{
  outline: none;
}

.topbar input{
    padding-right: 40px;
    font-size: 20px;
    width: 300px;
    height: 30px;
}

.topbar{
    position: relative;
    display: inline-block;
}
.topbar button{
    position: absolute;
    right:0;
    top:0;
    left:300px;
    border: none;
    font-size: 20px;
    background: transparent;
    width: 36px;
    height: 38px;
}


img {
    border-radius: 5px;
    background-color: #242424;
}

.fade-img {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}
.fade-img.loaded{
    opacity:1;
}

.manga-block{
    height: 250px;
    width: 200px;
    transition: all 0.3s ease;
}

.manga-block:hover {
    background-color: black;
    transform: scale(1.02);

}

.manga-title:hover{
    color: #a89984;
}

.switch-page{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: left;

}
