<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<p class="main" [routerLink]="['',]">MangaWebApp</p>

<div class="display">


    <div class="home">
      <button (click)="this.loadHomeScreen()" type="button"> Home </button>
  </div>

  <div class="topbar">

  <input type="text" placeholder="Search ... " [(ngModel)] = "inputValue"  >
  <button type="button" (click)="handleClick(inputValue)" >
    <i  class="fas fa-search" ></i>
  </button>
  </div>


  <div class="filter-options">

    <button (click)="resetFilterOptions()">Reset Filter</button>
    <select  (change)= "handleFilterOption(GenreFilter)" [(ngModel)]="GenreFilter" id="genres" name="genres">
      <option value="" disabled selected hidden>Genres</option>
      <option value="any">Any</option>
      <option *ngFor="let option of GenreOptions"  [value] = "option" >{{ option }}</option>

    </select>

    <select (change)="handleYearOption(YearOption)" [(ngModel)]="YearOption" id="year" name="year">
      <option value="" disabled selected hidden>Year</option>
      <option value="any">Any</option>
      <option *ngFor = "let option of YearOptions" [value]="option">{{ option }}</option>
    </select>

  </div>
  <div class="switch-page" >

    <button  (click)="loadMore()">Load more</button>
    <button  (click)="loadLess()"> Load less</button>
  </div>

</div>

<div class="show-filter">
  <div *ngFor="let option of FilterOptions" class="filter-block">
    <button (click)="deleteFilterOption(option)"class="rm-filter">x</button>
    <strong>{{ option }} </strong>
  </div >
  <div class="year-field" *ngIf="YearOption !== '' && YearOption !== 'any' ">
    <button class="year-button" (click)="deleteYearOption(YearOption)">x</button>
    <strong class="year-block"*ngIf="YearOption !== 'any'">{{ YearOption }} </strong>
  </div>
</div>

<div class="manga-field">


<div *ngFor="let manga of mangaFace" (mouseenter)="showHoverCard(manga, $event)" (mousemove)="updateHoverPosition($event,manga)" (mouseleave)="hideHoverCard()"  >


  <div class="manga-block" *ngIf="mangaFace && mangaFace.length"
  [routerLink]="['/manga',  manga.title ]"
  >

  <img (load)="imageLoaded = true" [class.loaded]="imageLoaded" class="fade-img" [ngSrc]="manga.image" width="200" height="250" alt="image" >


  </div>
  <br>
  <strong class="manga-title" >{{ manga.title }}</strong>

</div>



  <app-manga-hover-card
    *ngIf="hoveredManga"
    [manga]="hoveredManga"
    [x]="hoverX"
    [y]="hoverY">
 </app-manga-hover-card>

</div>
<div class="seiten"  *ngIf="mangaFace.length >= 5">
  <button class="page-prev" (click)="loadPrevPage()"><</button>
  <button class="page-number" *ngIf=""(click)="loadPage(1)">1</button>
  <button class="page-number" [ngClass]="{ 'active-button': page === activeSite}" (click)="loadPage(page)" *ngFor="let page of totalArray" > {{ page }}</button>
  <button class="page-number"  >{{ this.totalNumber }}</button>
  <button class="page-next" (click)="loadNextPage()">></button>
</div>
